header {
    color: black;
}
.body {
    margin-top: 60px;
    margin-bottom: 60px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
}

h6 {
    font-size: small;
    word-spacing:0.3ch;
    line-height: 2.2ch;
}

.gradient-background {
    background: linear-gradient(300deg, #B2D3DB, #E8B5D6, #FFE7CF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar #brand-info{
    font-size: xx-large;
    font-family:'Noto Sans', sans-serif;
    color: black;
    margin-left: 30px;
}
.nav-link {
    color: black;
}

.menu {
    margin-left: 25%;
}

.login{
    margin-left: 60px;
    margin-right: 30px;
}

.sign-up-link {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #FFCCCC;
  }

.buzzme{
  border: 1px solid black;
  border-radius: 20px;
  background-color: #FFCCCC;
  padding: 8px;
  color: black;
}

.contact-group {
  position: absolute;
  margin-bottom: 30px;
  bottom: 0;
  font-size: smaller;
}
.brand-name {
    margin-left: 10px;
    float: right;
}

.card {
  border: 1px solid #ccc;
  width: 25rem;
  height: 25rem;
  border-radius: 15px;
  flex-basis: 0;
  flex-grow: 1;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    max-width: 100%;
    justify-content:center;
}

:root {
  --circle-size: 200px;
}

@media (min-width: 768px) {
  :root {
    --circle-size: 250px;
  }
}

@media (min-width: 992px) {
  :root {
    --circle-size: 300px;
  }
}


.tech-stack {
    position: absolute;
    margin-bottom: 30px;
    bottom: 0;
}
.tech-card {
    background-color: white;
    display: inline-flex;
    width: 25rem;
}
.skills {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}
.odd {
    background-color: #EFBCDB;
}
  
.even {
    background-color: #FBD5B6;
}

.work-image {
  border: 1px solid black;
  border-radius: 15px;
  height: 320px;
  width: 100px;
  margin-right: 10px;
  flex-basis: 0;
  flex-grow: 1;
  object-fit:fill;
  position: relative;
  overflow: hidden;
}
.work-image .carousel-inner {
  height: 100%;
}

.work-image .carousel-item {
  height: 100%;
}

.experience {
  border: 1px solid black;
  border-radius: 15px;
  height: 320px;
  width: 900px;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 0;
  border: none;
  background-color: transparent;
  color: black;
}
.visually-hidden{
  color: black;
}

.build {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding: 30px;
  font-size: 50px;
}
.image-marquee {
  height: 120px;
}